@{
    Layout = "_Layout";
}

@model List<Product>

@*@section Footer{
    <div>
        Only for index page
    </div>
    <hr />
}*@

@foreach(Product item in Model){

    <partial name="_ProductCard" model="@item"></partial>

    @*<div>
        <h3>@item.ProductName</h3>
        <p>@item.Price</p>
        <p>
            <a href="/Product/Get/@item.ProductId">Get Details</a>
        </p>
    </div>*@
}