@page "/getintouch" 
<!--Kolay bir şekilde endpoint tanımlaması yapılabilir.-->
@model StoreApp.Pages.ContactModel
@{
}

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Bilgi ve Destek Hattı +0212 212 00 00
        </p>

        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            ASP.NET Core MVC & Unit Of Work Project
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            dotnetproject@gmail.com 
        </p>
    </div>
</div>