@page
@model StoreApp.Pages.DemoModel
@{
}

<div class="my-5 text-center">
    <div class="form-group">
        <!--kullanıcıdan bir name bilgisi alınacak ve bu bilgi hafızada yani session içerisinde tutulacaktır. -->
        <input class="form-control" name="name" placeholder="Enter your name" />
    </div>
</div>