<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center">
                    <i class="fa-solid fa-store text-secondary display-6"></i>
                    <br />
                </div>
                <div class="text-muted text-center">
                    StoreApp
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    ASP.NET Core MVC / Unit Of Work Eğitimi
                </div>
                <div class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a class="btn btn-secondary">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>

@* <div class="my-3">
                    <h6 class="lead">
                        <i class="fa fa-box text-secondary"></i>
                        Lastest Products
                    </h6>
                    <ul>
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Keyboard</a></li>
                        <li><a href="#">Mouse</a></li>
                        <li><a href="#">Hamlet</a></li>
                        <li><a href="#">Be Loved</a></li>
                    </ul>
                </div> *@

                <!--Taghelper ve tagbuilder yaapıları ile footer içerisinde yer alan Latest Products kısmı ayrı bir cs içerisinde tasarlanarak products yazan div elementi bu target classına hedef olarak gösterildi.-->